﻿@{
    ViewData["Title"] = "Home Page";
}

    
    <head>
        <title>Delírio Tropical</title>
        <meta charset="utf-8">
        
    </head>
    <body class="homepage">
            <header id="header">
                <div class="5grid-layout">
                    <div class="row">
                        <div class="12u" id="logo">
                            <h1><a href="#" class="mobileUI-site-name">Delírio Tropical</a></h1>
                            <p>Ambiente Web</p>
                        </div>
                    </div>
                </div>
                <div class="5grid-layout">
                    <div class="row">
                        <div class="12u" id="menu">
                            <nav class="mobileUI-site-nav">
                                <ul>
                                    
                                    <li><a href="https://localhost:44319/products">Produtos</a></li>
                                    <li><a href="Clientes">Clientes</a></li>
                                    <li><a href="Pedidos">Pedidos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            </body>